doctype html
html
meta
head
	meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(content='text/html', charset='utf-8')
	title= title
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='/javascripts/main.js')
body
	block content
